[Unit]
Description=Run Energy Monitor Service
After=network-online.target
Wants=network-online.target

[Service]
ExecStartPre=/bin/sleep 30
ExecStart=/usr/bin/python3 /home/raspi/Moon/main.py
Restart=on-failure
User=raspi
WorkingDirectory=/home/raspi/Moon
StandardOutput=inherit
StandardError=inherit

[Install]
WantedBy=multi-user.target

[Unit]
Description=Run Energy Monitor Service
After=network-online.target
